
.mt-0 {
    margin-top: 0 !important;
}

.my-1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mt-1 {
    margin-top: 8px;
}

.my-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.mt-2 {
    margin-top: 12px;
}

.my-3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mt-3 {
    margin-top: 16px;
}

.mx-1 {
    margin-left: 8px;
    margin-right: 8px;
}

.mx-2 {
    margin-left: 12px;
    margin-right: 12px;
}

.mx-3 {
    margin-left: 16px;
    margin-right: 16px;
}

.ml-1 {
    margin-left: 8px;
}

.ml-2 {
    margin-left: 12px;
}

.ml-3 {
    margin-left: 16px;
}

.mr-1 {
    margin-right: 8px;
}

.mr-2 {
    margin-right: 12px;
}

.mr-3 {
    margin-right: 16px;
}